body{
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
height: 2000px;
width: 100%;


}
.imagen{
    width: 200px;
    height:140px;
}
.tarjeta{
    width:70%;
}
.naranja{
    background-color:#FBAB7E;
    color: white;
    font-weight:bold;
}
.rojo{
    background-color:#ff4226;
}
.verde{
    background-color:lightgreen;
}
.azul{
    background-color:lightblue;
}
h1 {
    position: relative;
    font-family: 'Exo';
    font-size: 9em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
}
h1::after {
    content: '';
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: radial-gradient(white 3%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.05) 60%, transparent 80%), radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%, radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
    background-repeat: no-repeat;
}
h1 span:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black, 0 0 5em #165ff3;
    -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0.5);
}
h1 span:last-child {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
    -webkit-text-stroke: 0.01em #94a0b9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-family: 'Mr Dafoe';
    margin: 0;
    font-size: 5.5em;
    margin-top: -0.6em;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    transform: rotate(-7deg);
}

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');



.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    counter-reset: pagination;
    text-align: center;
}
.container:after {
    clear: both;
    content: "";
    display: table;
}
.container ul {
    width: 100%;
}
.xlarge {
    width: 65rem;
}
.large {
    width: 45rem;
}
.middle {
    width: 32rem;
}
.small {
    width: 22rem;
}
.xsmall {
    width: 14rem;
}
ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
}
li {
    counter-increment: pagination;
}
li:hover a {
    color: #fdfdfd;
    background-color: #FBAB7E;
    border: solid 1px #FBAB7E;
    text-decoration: none;
}
li.active a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}
li:first-child {
    float: left;
}
li:first-child a:after {
    content: "Previous";
}
li:nth-child(2) {
    counter-reset: pagination;
}
li:last-child {
    float: right;
}
li:last-child a:after {
    content: "Next";
}

li a {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}

.middle li a {
    display: none;
}
.middle li:first-child a {
    display: inline-block;
}
.middle li:first-child a:after {
    content: "<";
}
.middle li:last-child a {
    display: inline-block;
}
.middle li:last-child a:after {
    content: ">";
}
.middle li:nth-child(2) a {
    display: inline-block;
}
.middle li:nth-child(3) a {
    display: inline-block;
}
.middle li:nth-child(4) a {
    display: inline-block;
}
.middle li:nth-child(5) a {
    display: inline-block;
}
.middle li:nth-last-child(2) a {
    display: inline-block;
}
.middle li:nth-last-child(3) {
    display: inline-block;
}
.middle li:nth-last-child(3):after {
    padding: 0 1rem;
    content: "...";
}

.large li a {
    display: none;
}
.large li:first-child a {
    display: inline-block;
}
.large li:first-child a:after {
    content: "Previous";
}
.large li:nth-child(2) a {
    display: inline-block;
}
.large li:nth-child(3) a {
    display: inline-block;
}
.large li:nth-child(4) a {
    display: inline-block;
}
.large li:nth-child(5) a {
    display: inline-block;
}
.large li:nth-child(6) a {
    display: inline-block;
}
.large li:nth-child(7) a {
    display: inline-block;
}
.large li:nth-child(8) a {
    display: inline-block;
}
.large li:last-child a {
    display: inline-block;
}
.large li:last-child a:after {
    content: "Next";
}
.large li:nth-last-child(2) a {
    display: inline-block;
}
.large li:nth-last-child(3) {
    display: inline-block;
}
.large li:nth-last-child(3):after {
    padding: 0 1rem;
    content: "...";

}

/* Ciberpunk */

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

#intro {
    color: black;
    font-family: "VT323", monospace;
}

[class*="btn-glitch-"] {
    display: inline-block;
    font-family: "VT323", monospace;
     /* border: 1px solid black; */ 
     border:none;
    color: white;
    background-color:#FBAB7E;
    padding: 10px 13px;
    min-width: 175px;
    line-height: 1.5em;
    white-space: no-wrap;
    text-transform: uppercase;
    cursor: pointer;
}
[class*="btn-glitch-"] .text, [class*="btn-glitch-"] .decoration {
    display: inline-block;
}
[class*="btn-glitch-"] .decoration {
    display: inline-block;
    float: right;
}
[class*="btn-glitch-"]:hover, [class*="btn-glitch-"]:focus {
    animation-name: glitch;
    animation-duration: 0.2s;
    background-color: yellow;
    color: black;
    border: 1px solid yellow;
}
[class*="btn-glitch-"]:hover .text-decoration, [class*="btn-glitch-"]:focus .text-decoration {
    animation-name: blink;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}
[class*="btn-glitch-"]:hover .decoration, [class*="btn-glitch-"]:focus .decoration {
    animation-name: blink;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}
[class*="btn-glitch-"]:hover :before, [class*="btn-glitch-"]:focus :before {
    content: " ";
    width: 15px;
    border: 1px solid black;
    position: absolute;
    right: 25%;
    bottom: 3px;
    transform: rotate(35deg);
}
[class*="btn-glitch-"]:hover :after, [class*="btn-glitch-"]:focus :after {
    animation-name: shrink;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    content: " ";
    width: 75%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    bottom: 5px;
}
[class*="btn-glitch-"]:active {
    background: none;
    color: yellow;
}
[class*="btn-glitch-"]:active .text-decoration {
    animation-name: none;
}
[class*="btn-glitch-"]:active .decoration {
    animation-name: none;
}
[class*="btn-glitch-"]:active :before, [class*="btn-glitch-"]:active :after {
    display: none;
}
@keyframes glitch {
    25% {
        background-color: red;
        transform: translateX(-10px);
        letter-spacing: 10px;
    }
    35% {
        background-color: green;
        transform: translate(10px);
    }
    59% {
        opacity: 0;
    }
    60% {
        background-color: blue;
        transform: translate(-10px);
        filter: blur(5px);
    }
    100% {
        background-color: yellow;
        blur: 5px;
    }
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
@keyframes shrink {
    100% {
        width: 10%;
    }
}

